<DIV style="BORDER-TOP-COLOR: ; BORDER-LEFT-COLOR: ; BORDER-BOTTOM-COLOR: ; MARGIN-TOP: 30px; BORDER-RIGHT-COLOR: " align=center>
  <TABLE style="FONT-SIZE: 11px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #ffffff" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="PADDING-LEFT: 51px" align=left>
          Biggest Sale Today! 
        </TD>
        <TD style="PADDING-RIGHT: 51px" align=right>
          &nbsp; 
        </TD>
      </TR>
      <TR>
        <TD colSpan=2>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/top-shadow.gif" width=752 height=10> 
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/ribbon-left.jpg" width=51 height=420> 
        </TD>
        <TD style="BORDER-BOTTOM: #b2d42c 2px solid" vAlign=top>
          <TABLE style="BORDER-TOP: #000000 4px solid" cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD height=68 align=left>
                  <A href="http://www.onlinecustomcase.com/" target=_blank><IMG border=0 alt=onlinecustomcase-logo src="http://www.onlinecustomcase.com/emailmarketing/onlinecustomcase_logo.png" height=68> </A>
                </TD>
                <TD align=right>
                  <A href="https://www.facebook.com/onlinecustomcase?_rdr" target=_blank><IMG border=0 alt=facebook src="http://www.onlinecustomcase.com/emailmarketing/fb.png" height=42></IMG></A>&nbsp; <A href="https://twitter.com/owncustomcase?cn=cGFzc3dvcmRfcmVzZXRfdjI%3D&amp;refsrc=email" target=_blank><IMG border=0 alt=twitter src="http://www.onlinecustomcase.com/emailmarketing/tw.png" height=42></IMG></A>&nbsp; <A href="https://www.youtube.com/channel/UCxB9WL8IyUZJeN05v-OQZiw" target=_blank><IMG border=0 alt=youtube src="http://www.onlinecustomcase.com/emailmarketing/youtube.png" height=42></IMG></A>&nbsp; <A href="https://www.pinterest.com/bestcustomcase/" target=_blank><IMG border=0 alt=pin src="http://www.onlinecustomcase.com/emailmarketing/pin.png" height=42></IMG></A>&nbsp; 
                </TD>
              </TR>
            </TBODY>
          </TABLE>
          <TABLE style="BACKGROUND: url(http://www.onlinecustomcase.com/emailmarketing/bg-nav.jpg) #d20404 repeat-x" cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD height=47 align=left>
                  <A style="FONT-SIZE: 15px; TEXT-DECORATION: none; FONT-FAMILY: Verdana,Geneva,sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff" href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=onlinecustomcase" target=_blank>OnlineCustomCase</A> 
                </TD>
                <TD height=47 align=center>
                  <A style="FONT-SIZE: 15px; TEXT-DECORATION: none; FONT-FAMILY: Verdana,Geneva,sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff" href="http://www.amazon.com/s/ref=sr_nr_n_0?fst=as%3Aoff&amp;rh=n%3A2335752011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425156330&amp;rnid=2941120011" target=_blank>Expect the Best</A> 
                </TD>
                <TD height=47 align=right>
                  <A style="FONT-SIZE: 15px; TEXT-DECORATION: none; FONT-FAMILY: Verdana,Geneva,sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff" href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=onlinecustomcase" target=_blank>Set the Trend</A> 
                </TD>
              </TR>
            </TBODY>
          </TABLE>
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD>
                  <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/nav-shadow.jpg" width=650 height=7> 
                </TD>
              </TR>
            </TBODY>
          </TABLE>
          <TABLE style="FONT-SIZE: 12px; COLOR: #444444" cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD style="PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px" width=250 align=left>
                  <A href="http://www.amazon.com/Bluetooth-Unive%20rsal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank><IMG border=0 alt="" src="http://www.onlinecustomcase.com/emailmarketing/BlueTooth_HeadSet_Pink.jpg" width=209 height=219> </A>
                </TD>
                <TD style="PADDING-BOTTOM: 0px; PADDING-TOP: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px" vAlign=top>
                  <TABLE style="FONT-SIZE: 12px; COLOR: #444444" cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank>Pink Bluetooth Universal Stereo Headset</A> 
                        </TD>
                      </TR>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #e10a0a" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank>Original Price: <STRIKE>$29.99</STRIKE> 
                          <BR>Sale Price: $15.89 (You save: $14.10 (52%)) </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="LINE-HEIGHT: 18px">
                          <UL>
                            <LI>Brand new and stylish universal bluetooth is a perfect combination of practicability and fashion.</LI>
                            <LI>Enjoy the freedom of wireless music listening and hands-free phone conversations.</LI>
                            <LI>Up to 10 hours play time; Up to 10 hours talk time; Working range: 10 Meters; Up to 360 hours standby time; &lt; 2.5 hours charging time.</LI>
                            <LI>Unique neck-strap design for easy carrying and Free shipping within continental US.</LI>
                          </UL>
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/ribbon-right.jpg" width=51 height=420> 
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(http://www.onlinecustomcase.com/emailmarketing/bg-left.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-2.gif" width=51 height=258> 
        </TD>
        <TD style="BORDER-BOTTOM: #9cc6f0 2px solid">
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px" vAlign=top>
                  <TABLE style="FONT-SIZE: 12px; COLOR: #444444" cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2407776011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425145934&amp;rnid=2941120011" target=_blank>Bluetooth Headset with various colors</A> 
                        </TD>
                      </TR>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #e10a0a" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank>
                          <BR>Original Price: <STRIKE>$29.99</STRIKE> 
                          <BR>Sale Price: $15.89 (You save: $14.10 (52%)) </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD>
                          <UL>
                            <LI><A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00TQFKA32/ref=sr_1_3?ie=UTF8&amp;qid=1425150879&amp;sr=8-3&amp;keywords=onlinecustomcase" target=_blank>White </A></LI>
                            <LI><A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00TOXAEX2/ref=sr_1_2?ie=UTF8&amp;qid=1425150879&amp;sr=8-2&amp;keywords=onlinecustomcase" target=_blank>Black </A></LI>
                            <LI><A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank>Blue </A></LI>
                            <LI><A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank>Red </A></LI>
                          </UL>
                        </TD>
                      </TR>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/Bluetooth-Universal-Listening-Hands-free-Cancellation/dp/B00SU988ZM/ref=sr_1_1?ie=UTF8&amp;qid=1425143041&amp;sr=8-1&amp;keywords=onlinecustomcase" target=_blank>
                          <BR>Shipped FREE within continental USA!! </A>
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BORDER-BOTTOM: #9cc6f0 2px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" width=250 align=left>
          <TABLE>
            <TBODY>
              <TR>
                <TD>
                  <A href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2407776011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425149947&amp;rnid=2941120011" target=_blank><IMG border=0 alt="" src="http://www.onlinecustomcase.com/emailmarketing/BlueTooth_HeadSet_White.jpg" width=124 height=100></A> 
                </TD>
                <TD>
                  <A href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2407776011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425149947&amp;rnid=2941120011" target=_blank><IMG border=0 alt="" src="http://www.onlinecustomcase.com/emailmarketing/BlueTooth_HeadSet_Black.jpg" width=124 height=100></A> 
                </TD>
              </TR>
              <TR>
                <TD>
                  <A href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2407776011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425149947&amp;rnid=2941120011" target=_blank><IMG border=0 alt="" src="http://www.onlinecustomcase.com/emailmarketing/BlueTooth_HeadSet_Blue.jpg" width=124 height=100></A> 
                </TD>
                <TD>
                  <A href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2407776011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425149947&amp;rnid=2941120011" target=_blank><IMG border=0 alt="" src="http://www.onlinecustomcase.com/emailmarketing/BlueTooth_HeadSet_Pink2.jpg" width=124 height=100></A> 
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BACKGROUND: url(http://www.onlinecustomcase.com/emailmarketing/bg-right.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-2.gif" width=51 height=258> 
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-2.gif" width=51 height=458> 
-->
        </TD>
        <TD style="BORDER-BOTTOM: #fadc0f 2px solid" vAlign=top>
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD colSpan=3>
                  <A style="FONT-SIZE: 18px; TEXT-DECORATION: none; COLOR: blue" href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2335752011%2Cn%3A2407760011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425144860&amp;rnid=2335753011" target=_blank>
                  <BR><B>&nbsp;&nbsp;Premium Quality Cases:</B> </A>
                </TD>
              </TR>
              <TR>
                <TD colSpan=3>
                  <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                    Slim cases 
                  </SPAN>
                  - with least foot-print 
                  <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                    Tough cases 
                  </SPAN>
                  - with shock absorbing bumpers 
                  <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                    Xtreme cases 
                  </SPAN>
                  - military grade cases 
                  <BR>
                  <BR>
                </TD>
              </TR>
              <TR>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-Case-Premium-Quality-Profile/dp/B00R90343E/ref=sr_1_9?s=wireless&amp;ie=UTF8&amp;qid=1425144148&amp;sr=1-9&amp;keywords=onlinecustomcase" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_ModernArt_SlimProfile.jpg" width=200 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-Case-Premium-Quality-Profile/dp/B00R90343E/ref=sr_1_9?s=wireless&amp;ie=UTF8&amp;qid=1425144148&amp;sr=1-9&amp;keywords=onlinecustomcase" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Case - Modern Art cover 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Tough Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-Case-Premium-Quality-Jasmine/dp/B00R9GB8EK/ref=sr_1_23?s=wireless&amp;ie=UTF8&amp;qid=1425144441&amp;sr=1-23&amp;keywords=onlinecustomcase" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_JasmineOnPink_ToughProfile.jpg" width=200 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-Case-Premium-Quality-Jasmine/dp/B00R9GB8EK/ref=sr_1_23?s=wireless&amp;ie=UTF8&amp;qid=1425144441&amp;sr=1-23&amp;keywords=onlinecustomcase" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Case - Jasmine On Pink 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Xtreme Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-Case-Premium-Quality-Blossoms/dp/B00RBJVQHO/ref=sr_1_12?ie=UTF8&amp;qid=1425152171&amp;sr=8-12&amp;keywords=onlinecustomcase" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_YellowBlossoms_XtremeProfile.png" width=190 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-Case-Premium-Quality-Blossoms/dp/B00RBJVQHO/ref=sr_1_12?ie=UTF8&amp;qid=1425152171&amp;sr=8-12&amp;keywords=onlinecustomcase" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Case - Yellow Blossoms 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-2.gif" width=51 height=458> 
-->
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-2.gif" width=51 height=528> 

-->
        </TD>
        <TD style="BORDER-BOTTOM: #fadc0f 2px solid" vAlign=top>
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD colSpan=3>
                  <A style="FONT-SIZE: 18px; TEXT-DECORATION: none; COLOR: #e10a0a" href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2335752011%2Cn%3A2407760011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425144860&amp;rnid=2335753011" target=_blank>
                  <BR><B>&nbsp;&nbsp;We offer cases for every occasions:</B> </A>
                </TD>
              </TR>
              <TR>
                <TD colSpan=3>
                  <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue">
                    For Daily professional life style... 
                  </SPAN>
                  <BR>
                  <BR>
                </TD>
              </TR>
              <TR>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/samsung-galaxy-s5-Case-Platinum/dp/B00RYPG94U/ref=sr_1_2?s=wireless&amp;ie=UTF8&amp;qid=1425158835&amp;sr=1-2&amp;keywords=onlinecustomcase+gray" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/SamsungS5_PlatinumGray_SlimProfile.jpg" width=230 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/samsung-galaxy-s5-Case-Platinum/dp/B00RYPG94U/ref=sr_1_2?s=wireless&amp;ie=UTF8&amp;qid=1425158835&amp;sr=1-2&amp;keywords=onlinecustomcase+gray" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          Samsumg Galaxy S5 - Platinum Gray 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Tough Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-plus-Case-Premium-Quality/dp/B00RMNQVK6/ref=sr_1_13?s=wireless&amp;ie=UTF8&amp;qid=1425159097&amp;sr=1-13&amp;keywords=onlinecustomcase+tough" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6Plus_LeatherBlack_ToughProfile.jpg" width=200 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-plus-Case-Premium-Quality/dp/B00RMNQVK6/ref=sr_1_13?s=wireless&amp;ie=UTF8&amp;qid=1425159097&amp;sr=1-13&amp;keywords=onlinecustomcase+tough" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Plus Case - Leather Black 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Xtreme Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-Case-Premium-Quality-Profile/dp/B00RBGDWMY/ref=sr_1_27?s=wireless&amp;ie=UTF8&amp;qid=1425159293&amp;sr=1-27&amp;keywords=onlinecustomcase+xtreme" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_PolkaDots_XtremeProfile.jpg" width=190 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-Case-Premium-Quality-Profile/dp/B00RBGDWMY/ref=sr_1_27?s=wireless&amp;ie=UTF8&amp;qid=1425159293&amp;sr=1-27&amp;keywords=onlinecustomcase+xtreme" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Case - Polka Dots 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-2.gif" width=51 height=528> 
    -->
    </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-2.gif" width=51 height=428> 
-->

        </TD>
        <TD style="BORDER-BOTTOM: #fadc0f 2px solid" vAlign=top>
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <!--<tr>
                                    			    <td colspan="3">        
                                                        <a href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&rh=n%3A2335752011%2Cn%3A2407760011%2Ck%3Aonlinecustomcase&keywords=onlinecustomcase&ie=UTF8&qid=1425144860&rnid=2335753011" target="_blank" style="font-size:18px; color:blue;text-decoration:none;">
                                                            <br /><b>&nbsp;&nbsp;We offer cases for every occasions:</b>
                                                        </a>                   
                                                    </td>
                                    			</tr>-->
            <TBODY>
              <TR>
                <TD colSpan=3>
                  <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue">
                    For Romantic life style... 
                  </SPAN>
                  <BR>
                  <BR>
                </TD>
              </TR>
              <TR>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/Samsung-Galaxy-S5-Case-Premium/dp/B00RYPN1XC/ref=sr_1_8?s=wireless&amp;ie=UTF8&amp;qid=1425159681&amp;sr=1-8&amp;keywords=onlinecustomcase+Rainbow+hearts" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/SamsungS5_RainbowHearts_SlimProfile.jpg" width=200 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/Samsung-Galaxy-S5-Case-Premium/dp/B00RYPN1XC/ref=sr_1_8?s=wireless&amp;ie=UTF8&amp;qid=1425159681&amp;sr=1-8&amp;keywords=onlinecustomcase+Rainbow+hearts" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          Samsumg Galaxy S5 - Rainbow Hearts 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/samsung-galaxy-s5-Case-Premium/dp/B00RYON78C/ref=sr_1_12?s=wireless&amp;ie=UTF8&amp;qid=1425159984&amp;sr=1-12&amp;keywords=onlinecustomcase+pink" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/SamsungS5_HotPink_SlimProfile.jpg" width=230 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/samsung-galaxy-s5-Case-Premium/dp/B00RYON78C/ref=sr_1_12?s=wireless&amp;ie=UTF8&amp;qid=1425159984&amp;sr=1-12&amp;keywords=onlinecustomcase+pink" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          Samsumg Galaxy S5 - Hot Pink cover 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Xtreme Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-5s-Case-Premium-Valentine/dp/B00RWUTZ34/ref=sr_1_37?s=wireless&amp;ie=UTF8&amp;qid=1425160137&amp;sr=1-37&amp;keywords=onlinecustomcase+xtreme" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_ValentineHearts_XtremeProfile.jpg" width=190 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-5s-Case-Premium-Valentine/dp/B00RWUTZ34/ref=sr_1_37?s=wireless&amp;ie=UTF8&amp;qid=1425160137&amp;sr=1-37&amp;keywords=onlinecustomcase+xtreme" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Case - Valentine Hearts 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-2.gif" width=51 height=428> 
-->
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-2.gif" width=51 height=428> 
-->
        </TD>
        <TD style="BORDER-BOTTOM: #fadc0f 2px solid" vAlign=top>
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <!--<tr>
                                    			    <td colspan="3">        
                                                        <a href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&rh=n%3A2335752011%2Cn%3A2407760011%2Ck%3Aonlinecustomcase&keywords=onlinecustomcase&ie=UTF8&qid=1425144860&rnid=2335753011" target="_blank" style="font-size:18px; color:blue;text-decoration:none;">
                                                            <br /><b>&nbsp;&nbsp;We offer cases for every occasions:</b>
                                                        </a>                   
                                                    </td>
                                    			</tr>-->
            <TBODY>
              <TR>
                <TD colSpan=3>
                  <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue">
                    For Any life style... 
                  </SPAN>
                  <BR>
                  <BR>
                </TD>
              </TR>
              <TR>
                <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/iPhone-Case-Premium-Quality-Chevron/dp/B00Q7Y88SO/ref=sr_1_2?s=wireless&amp;ie=UTF8&amp;qid=1425160509&amp;sr=1-2&amp;keywords=onlinecustomcase+chevron" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_ChevronSkyblue%20_SlimProfile.jpg" width=130 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-Case-Premium-Quality-Chevron/dp/B00Q7Y88SO/ref=sr_1_2?s=wireless&amp;ie=UTF8&amp;qid=1425160509&amp;sr=1-2&amp;keywords=onlinecustomcase+chevron" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 case -Chevron Skyblue 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
                
<TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
                          <A href="http://www.amazon.com/Samsung-Galaxy-S5-Case-Darkgreen/dp/B00RYO3LOW/ref=sr_1_17?s=wireless&amp;ie=UTF8&amp;qid=1425160693&amp;sr=1-17&amp;keywords=onlinecustomcase+s5" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/SamsungS5_DarkGreen_SlimProfile.jpg" width=230 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/Samsung-Galaxy-S5-Case-Darkgreen/dp/B00RYO3LOW/ref=sr_1_17?s=wireless&amp;ie=UTF8&amp;qid=1425160693&amp;sr=1-17&amp;keywords=onlinecustomcase+s5" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          Samsumg Galaxy S5 - Dark green cover 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
               

 <TD width="33%" align=center>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD align=center>
                          <SPAN style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a">
                            Slim Profile 
                          </SPAN>
<br/>
                          <A href="http://www.amazon.com/iPhone-Case-Premium-Quality-Profile/dp/B00QEEIMI8/ref=sr_1_2?s=wireless&amp;ie=UTF8&amp;qid=1425160867&amp;sr=1-2&amp;keywords=onlinecustomcase+iPhone6+owl" target=_blank><IMG border=0 alt="iPhone 6 case" src="http://www.onlinecustomcase.com/emailmarketing/iPhone6_SweetOwlsNight_SlimProfile.jpg" width=124 height=200> </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="http://www.amazon.com/iPhone-Case-Premium-Quality-Profile/dp/B00QEEIMI8/ref=sr_1_2?s=wireless&amp;ie=UTF8&amp;qid=1425160867&amp;sr=1-2&amp;keywords=onlinecustomcase+iPhone6+owl" target=_blank><STRIKE>$39.99</STRIKE> 
                          <BR>$27.99 </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: blue; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" align=center>
                          iPhone6 Case - Sweet Owls Night 
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>

              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
<!--
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-2.gif" width=51 height=428> 
-->
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <TABLE style="FONT-SIZE: 14px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #333333" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-2.gif" width=51 height=298> 
        </TD>
        <TD style="BORDER-BOTTOM: #9cc6f0 2px solid">
          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px" vAlign=top>
                  <TABLE style="FONT-SIZE: 12px; COLOR: #444444" cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: blue" href="http://www.amazon.com/s/ref=sr_nr_n_1?fst=as%3Aoff&amp;rh=n%3A2407776011%2Ck%3Aonlinecustomcase&amp;keywords=onlinecustomcase&amp;ie=UTF8&amp;qid=1425145934&amp;rnid=2941120011" target=_blank>&nbsp;&nbsp;Trendy product that is coming soon...</A> 
                        </TD>
                      </TR>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #e10a0a" href="#" target=_blank>
                          <BR>&nbsp;&nbsp;Original Price: <STRIKE>$29.99</STRIKE> 
                          <BR>&nbsp;&nbsp;Sale Price: $14.99 (You save: $15.10 (5%)) </A>
                        </TD>
                      </TR>
                      <TR>
                        <TD style="LINE-HEIGHT: 18px">
                          <UL>
                            <LI>New design (MG-Z705B) expendable waterproof Bluetooth monopod. </LI>
                            <LI>Fashionable Selfie with Zoom and Timer features. </LI>
                            <LI>Perfect companion for iPhones, Samsung, HTC, LG and most other mobile phones. </LI>
                            <LI>Available in different color like Pink, Black, Blue, White and Green </LI>
                          </UL>
                        </TD>
                      </TR>
                      <TR>
                        <TD>
                          <A style="FONT-SIZE: 16px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e10a0a" href="#" target=_blank>
                          <BR>&nbsp;&nbsp;Shipped FREE within continental US... </A>
                        </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BORDER-BOTTOM: #9cc6f0 2px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" width=250 align=center>
          <TABLE>
            <TBODY>
              <TR>
                <TD align=center>
                  <A href="#" target=_blank><IMG border=0 alt="" src="http://www.onlinecustomcase.com/emailmarketing/Bluetooth_Monopod.jpg" width=120 height=120></A> 
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </TD>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-2.gif" width=51 height=298> 
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <!-- Footer Block Start -->
  <TABLE style="FONT-SIZE: 11px; FONT-FAMILY: Georgia, Times New Roman, Times, serif; COLOR: #ffffff" cellSpacing=0 cellPadding=0 width=752 border=0>
    <TBODY>
      <TR>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-4.gif" width=51 height=30> 
        </TD>
        <TD style="BACKGROUND: #463e3f; PADDING-LEFT: 7px" colSpan=2 align=center>
          <A href="http://www.onlinecustomcase.com/iphone-6-6plus-cases" target=_blank>
          <FONT color=white>
            iPhone 6/6Plus Cases 
          </FONT>
          </A>| <A href="http://www.onlinecustomcase.com/iPhone-5-cases" target=_blank>
          <FONT color=white>
            iPhone 5/5s/5c Cases 
          </FONT>
          </A>| <A href="http://www.onlinecustomcase.com/samsung-galaxy-s5-cases" target=_blank>
          <FONT color=white>
            Samsung Galaxy S5 Cases 
          </FONT>
          </A>
        </TD>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-4.gif" width=51 height=30> 
        </TD>
      </TR>
      <TR>
        <TD style="BACKGROUND: url(images/bg-right.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/left-4.gif" width=51 height=30> 
        </TD>
        <TD style="BACKGROUND: #463e3f; PADDING-LEFT: 7px" height=30 align=left>
          <FONT color=white>
            Copyright @ 2015 onlinecustomcase.com 
          </FONT>
        </TD>
        <TD style="BACKGROUND: #463e3f; PADDING-RIGHT: 7px" align=right>
          <A style="COLOR: #ffffff" href=$unsubscribe>
          <FONT color=white>
            Unsubscribe 
          </FONT>
          </A>
        </TD>
        <TD style="BACKGROUND: url(images/bg-left.gif) repeat-y" width=51>
          <IMG alt="" src="http://www.onlinecustomcase.com/emailmarketing/right-4.gif" width=51 height=30> 
        </TD>
      </TR>
    </TBODY>
  </TABLE>
  <!-- Footer Block End -->
</DIV>